<div class="form-container login-area">

  <% flash.each do |name, msg| %>
  <div class='alert alert-<%= "#{name}" %>'>
    <a href="#" class="close" data-dismiss='alert' &#215;></a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
  <% end %>

  <%= form_for(:user, url: sessions_path) do |f| %>
  <div class="form-group">
    <%= f.text_field :username, class: 'form-control', placeholder: 'Email/Phone Number' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class="action">
    <%= f.submit "Login", class: 'btn btn-primary', id: "login-button"%>
    <%= link_to 'Forgot your password?', home_index_path, id: 'forgot-password' %>
  </div>
  <% end %>
</div>
