<%= form_for(user, :html => {:class => "form-horizontal"}) do |f| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %>
    prohibited this user from being saved:</h2>

  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :display_name, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :display_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :first_name, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :gender, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.select :gender,  User::GENDER_TYPES, {}, {class: 'form-control'} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :location, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :location, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :birthday, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.date_select :birthday, {order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year - 12, end_year: Date.today.year - 100} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone_number, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.telephone_field :phone_number, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.telephone_field :password, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.telephone_field :password_confirmation, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit "Sign Up", class: 'btn btn-default'  %>
  </div>
</div>
<% end %>
