<section>
	<% @posts.each do |post| %>
	<article class="post row">
		<div class="col-xs-2">
			<a href="#" class="thumbnail">
				<%= image_tag profile_picture(post.user) %>
			</a>
		</div>
		<div class="col-xs-10">
			<header>
				<span class="post-title"><%= post.user.full_name %></span>
				<span class="post-subtitle"><%= story_action post %></span>
				<br>
				<span class="post-time"><%= time_ago_in_words(post.updated_at).capitalize %>
					ago</span>
			</header>
			<p><%= post.product.summary %></p>
			<p><%= post.body %>
			<%= link_to 'More Info', post %></p>
			<footer>
				<%= link_to post  do %>
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					Respond
				<% end %>
			</footer>
		</div>
	</article>
	<% end %>
</section>