<%= form_for(post, :url => url_for(:controller => 'posts', :action => 'pre_create')) do |f| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %>
    prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.text_area :content, size: "30x10", class: 'mdl-textfield__input' %>
  <label class="mdl-textfield__label" for="post_content">Ask for competitive quotations</label>
</div>

<div class="actions">
  <%= f.submit "Post", class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
</div>
<% end %>
