<h2>Post for free and receive competitive qoatations</h2>

<section>
<%= render 'post', post: Post.new %>	
</section>

<section>
<% @adverts.each do |advert| %>
  <article>
  <%= advert.product %>
  <%= advert.advertiser %>
  <%= link_to 'Show', advert %>
  <%= link_to 'Edit', edit_advert_path(advert) %>
  <%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %>
  </article>
<% end %>
</section>
