<section class="new-post">
	<%= render 'post', post: Post.new %>
</section>
<section>
	<% @adverts.each do |advert| %>
	<article class="post row">
		<div class="col-xs-2">
			<a href="#" class="thumbnail">
				<img src="https://placehold.it/60">
			</a>
		</div>
		<div class="col-xs-10">
			<header>
				<span class="post-title"><%= advert.company %></span>
				<span class="post-subtitle">
					is selling</span>
				<br>
				<span class="post-time"><%= time_ago_in_words(advert.updated_at).capitalize %>
					ago</span>
			</header>
			<%= advert.product %>
			<%= advert.company %>
			<%= link_to 'More Info', advert %>
			<footer>
				<a href="#">
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					Respond
				</a>
			</footer>
		</div>
	</article>
	<% end %>
</section>
