<%= form_for(company, :html => {:class => "form-horizontal"}) do |f| %>
<% if company.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(company.errors.count, "error") %>
    prohibited this company from being saved:</h2>

  <ul>
    <% company.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :company_name, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :company_name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :location, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :location, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :phone_number, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.telephone_field :phone_number, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :website, class: 'col-sm-3 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :website, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= f.submit "Register", class: 'btn btn-default' %>
  </div>
</div>
<% end %>
