<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @company.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %>
|
<%= link_to 'Back', companies_path %>
