<%= form_for(advert) do |f| %>
<% if advert.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(advert.errors.count, "error") %>
    prohibited this advert from being saved:</h2>

  <ul>
    <% advert.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.fields_for :product do |fp| %>
<div class="field">
  <%= fp.label :name, "Product Name" %>
  <%= fp.text_field :name %>
</div>

<div class="field">
  <%= fp.label :product_category_id %>
  <%= fp.collection_select :product_category_id, ProductCategory.all, :id, :category %>
</div>

<div class="field">
  <%= fp.label :price %>
  <%= fp.text_field :price %>
</div>

<div class="field">
  <%= fp.label :year_made %>
  <%= fp.number_field :year_made %>
</div>

<div class="field">
  <%= fp.label :description %>
  <%= fp.text_area :description %>
</div>

<% end %>

<%= f.fields_for :advertiser do |fa| %>

<div class="field">
  <%= fa.label :email %>
  <%= fa.email_field :email %>
</div>

<div class="field">
  <%= fa.label :first_name %>
  <%= fa.text_field :first_name %>
</div>

<div class="field">
  <%= fa.label :last_name %>
  <%= fa.text_field :last_name %>
</div>

<div class="field">
  <%= fa.label :company_name %>
  <%= fa.text_field :company_name %>
</div>

<div class="field">
  <%= fa.label :location %>
  <%= fa.text_field :location %>
</div>

<div class="field">
  <%= fa.label :phone_number %>
  <%= fa.telephone_field :phone_number %>
</div>

<div class="field">
  <%= fa.label :website %>
  <%= fa.text_field :website %>
</div>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
