<p id="notice"><%= notice %></p>

<section>
  <%= link_to "Ask for competitive quotations", home_index_path %>
</section>

<section>
 <%= link_to 'New Advert', new_advert_path %>
</section>

<section>
<h2>Find potential customers looking for products or services by their location</h2>
<form action="" method="get" accept-charset="utf-8">
	<label for="location">Filter by Location</label>
	<select name="location">
		<option></option>
		<option>Eastern Cape</option>
		<option>Free State</option>
		<option>Gauteng</option>
		<option>Kwazulu-Natal</option>
		<option>Limpopo</option>
		<option>Lesotho</option>
		<option>Mpumalanga</option>
		<option>Northern-Cape</option>
		<option>North-West</option>
		<option>Western-Cape</option>
	</select>
</form>

<% @posts.each do |post| %>
  <article>
  <p>
  <%= post %>
  <%= link_to 'More Info', post %>
  </p>
  </article>
<% end %>
</section>