<p id="notice"><%= notice %></p>

<section>
  <%= link_to "Ask for competitive quotations", home_index_path %>
</section>

<section>
 <%= link_to 'New Advert', new_advert_path %>
</section>

<section>
<h2>Find potential customers looking for products or services by thier location</h2>
<% @posts.each do |post| %>
  <article>
  <%= post %>
  <%= link_to 'More Info', post %>
  </article>
<% end %>
</section>