<p id="notice"><%= notice %></p>

<h2>Adverts</h2>

<% @adverts.each do |advert| %>
  <article>
  <%= advert.product %>
  <%= advert.advertiser %>
  <%= link_to 'Show', advert %>
  <%= link_to 'Edit', edit_advert_path(advert) %>
  <%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %>
  </article>
<% end %>
