<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @advert.company %>
</p>

<p>
  <strong>Product:</strong>
  <%= @advert.product %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
