<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :min_price, "Price Range: " %>
    <%= f.text_field :min_price, placeholder: "Minimum", size: "10" %>
    <%= f.text_field :max_price, placeholder: "Maximum", size: "10"  %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="field">
    <%= label_tag :user_id %>
    <%= text_field_tag :user_id %>
  </div>

  <div class="actions">
    <%= f.submit "Finish" %>
  </div>
<% end %>
