<%= form_for(setup_post(post)) do |f| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %>
    prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :content, "Description" %>
  <%= f.text_area :content %>
</div>

<%= f.fields_for :product do |fp| %>
<div class="field">
  <%= fp.label :name, "Product Name" %>
  <%= fp.text_field :name %>
</div>

<div class="field">
  <%= fp.label :product_category_id %>
  <%= fp.collection_select :product_category_id, ProductCategory.all, :id, :category %>
</div>

<% end %>

<div class="field">
  <%= f.label :min_price, "Price Range: " %>
  <%= f.text_field :min_price, placeholder: "Minimum", size: "10" %>
  <%= f.text_field :max_price, placeholder: "Maximum", size: "10"  %>
</div>

<%= f.fields_for :user do |fu| %>
<div class="field">
  <%= fu.label :display_name, "Your Name" %>
  <%= fu.text_field :display_name %>
</div>

<div class="field">
  <%= fu.label :gender %>
  <%= fu.select :gender,  User::GENDER_TYPES %>
</div>

<div class="field">
  <%= fu.label :location %>
  <%= fu.text_field :location %>
</div>

<div class="field">
  <%= fu.label :birthday %>
  <%= fu.date_select :birthday %>
</div>

<div class="field">
  <%= fu.label :phone_number %>
  <%= fu.telephone_field :phone_number %>
</div>
<% end %>

<div class="field">
  <%= f.label :payable, "*Pay to Post" %>
  <%= f.check_box :payable %>
</div>

<div class="actions">
  <%= f.submit "Post" %>
</div>
<% end %>
<p>
  *Advantages of running a paid post
  <ul>
    <li>Your post will be in our page for a long time</li>
    <li>Your post will be on top of our page</li>
    <li>Your post will appear in a more catchy way hance attract more bidders</li>
    <li>The fact that you spend to have your post on the system will give sellers, especially businesses that you really want the product or service hance they will conduct you. Meaning paid posts increases the chances of receiving bids from reliable sellers</li>
  </ul>
</p>
