<section class="card">
  <section>
    <%= @post.body %>
  </section>

  <section class="card">
    <%= render @post.post_comments %>
  </section>

  <section>
    <%= form_for([@post, @post.post_comments.new]) do |f| %>
    <%= f.text_area :comment, class: 'form-control', rows: '1', placeholder: "Add a comment" %>
    <div class="action">
      <%= f.submit "Post", class: 'btn btn-default' %>
    </div>
    <% end %>
  </section>
</section>
