<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @post.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @post.max_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @post.product %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
