<section class="card">
  <section class="post">
    <div class="col-xs-2 post-profile-pic-area">
      <a href="#" class="thumbnail post-profile-pic">
        <%= image_tag profile_picture(@post.user) %>
      </a>
    </div>
    <header>
      <span class="post-title"><%= @post.user.full_name %></span>
      <span class="post-subtitle"><%= post_action_string @post %></span>
      <br>
      <span class="post-time"><%= time_ago_in_words(@post.updated_at).capitalize %>
        ago</span>
    </header>
    <%= @post.body %>
  </section>

  <section class="card">
    <%= render @post.post_comments %>
  </section>

  <section>
    <%= form_for([@post, @post.post_comments.new]) do |f| %>
    <%= f.text_area :comment, class: 'form-control', rows: '1', placeholder: "Add a comment" %>
    <div class="action">
      <%= f.submit "Post", class: 'btn btn-default' %>
    </div>
    <% end %>
  </section>
</section>
