<!DOCTYPE html>
<html>
  <head>
    <title>NeedThat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <!-- Need<span class="needthat-colorling">that</span> -->
        <%= link_to home_index_path, :class=> "app-name-link" do %>
        Need<%= content_tag(:span, "That", :class => "needthat-colorling") %>
        <% end %>
      </h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <br><br>
      <small>&copy 2016 Need<span class="needthat-colorling">that</span>.co.za</small>
    </footer>
  </body>
</html>
