<!DOCTYPE html>
<html>
  <head>
    <title>NeedThat</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav id="mainNav" class="row">
        <ul>
          <li >
            <span class="glyphicon glyphicon-home nav-icon"></span><%= link_to 'NeedThat', home_index_path %></li>
          <li >
            <span class="glyphicon glyphicon-shopping-cart nav-icon"></span><%= link_to 'Buy',  posts_path %></li>
          <li >
            <span class="glyphicon glyphicon-shop nav-icon"></span><%= link_to 'Sell', adverts_path  %></li>
          <li >
            <span class="glyphicon glyphicon-user nav-icon"></span><%= link_to 'Profile', logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid">
      <main class="row">
        <aside class="col-md-3"></aside>
        <div class="col-md-6">
          <%= yield %>
        </div>
        <aside class="col-md-3"></aside>
      </main>
    </div>
    <!-- <footer class="row"> <br><br> <small> &copy 2017 <%= link_to home_index_path, :class=> "app-name-link" do %> Need<%= content_tag(:span, "That", :class => "needthat-colorling") %>.co.za <% end %> </small> </footer> -->
  </body>
</html>
