<!DOCTYPE html>
<html>
  <head>
    <title>NeedThat</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav id="mainNav" class="row">
      <ul>
        <li ><%= link_to 'NeedThat', home_index_path %></li>
        <li ><%= link_to 'Sell', adverts_path  %></li>
        <li ><%= link_to 'Buy',  posts_path %></li>
        <li ><%= link_to 'Profile', home_index_path %></li>
      </ul>
    </nav>

    <main class="row">
      <%= yield %>
    </main>

    <footer class="row">
      <br><br>
      <small>
        &copy 2017
        <%= link_to home_index_path, :class=> "app-name-link" do %>
        Need<%= content_tag(:span, "That", :class => "needthat-colorling") %>.co.za
        <% end %>
      </small>
    </footer>
  </body>
</html>
