<!DOCTYPE html>
<html>
  <head>
    <title>CanOnlyPay</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav id="mainNav" class="row">
        <ul>
          <li >
            <span class="glyphicon glyphicon-home nav-icon"></span><%= link_to 'Home', home_index_path %></li>
          <li >
            <% if user_signed_in? %>
            <span class="glyphicon glyphicon-bell nav-icon"></span><%= link_to 'Notifications',  posts_path %></li>
          <li >
            <span class="glyphicon glyphicon-bullhorn nav-icon"></span><%= link_to 'Advertise', adverts_path  %></li>
          <li id="profile-icon">
            <%= image_tag profile_picture(current_user), class: "img-circle" %>
            <%= link_to "#{current_user.display_name}", destroy_user_session_path, method: :delete %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="container-fluid">
      <main class="row">
        <aside class="col-md-3"></aside>
        <div class="col-md-6">
          <% flash.each do |name, msg| %>
          <div class='alert alert-<%= "#{name}" %>'>
            <a href="#" class="close" data-dismiss='alert'>&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
          <% end %>
          <%= yield %>
        </div>
        <aside class="col-md-3"></aside>
      </main>
    </div>
    <!-- <footer class="row"> <br><br> <small> &copy 2017 <%= link_to home_index_path, :class=> "app-name-link" do %> Need<%= content_tag(:span, "That", :class => "needthat-colorling") %>.co.za <% end %> </small> </footer> -->
  </body>
</html>
