<!DOCTYPE html>
<html>
  <head>
    <title>CanOnlyPay</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav id="mainNav" class="row">
        <ul>
          <li >
            <span class="glyphicon glyphicon-home nav-icon"></span><%= link_to 'Home', home_index_path %></li>
          <li >
            <span class="glyphicon glyphicon-question-sign nav-icon"></span><%= link_to 'About Us',  home_index_path %></li>
        </ul>
      </nav>
    </div>

    <div class="container-fluid" id="loginBody">
      <main class="row">
        <section class="col-md-8">
          <% flash.each do |name, msg| %>
          <div class='alert alert-<%= "#{name}" %>'>
            <a href="#" class="close" data-dismiss='alert'>&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
          <% end %>
          <% @adverts.each do |advert| %>
          <article class="post row">
            <div class="col-xs-2">
              <a href="#" class="thumbnail">
                <img src="https://placehold.it/60">
              </a>
            </div>
            <div class="col-xs-10">
              <header>
                <span class="post-title"><%= advert.company %></span>
                <span class="post-subtitle">
                  is selling</span>
                <br>
                <span class="post-time"><%= time_ago_in_words(advert.updated_at).capitalize %>
                  ago</span>
              </header>
              <%= advert.product %>
              <%= advert.company %>
              <%= link_to 'More Info', advert %>
            </div>
          </article>
          <% end %>
        </section>
        <section class="col-md-4">
          <%= yield %>
        </section>
      </main>
    </div>
    <!-- <footer class="row"> <br><br> <small> &copy 2017 <%= link_to home_index_path, :class=> "app-name-link" do %> Need<%= content_tag(:span, "That", :class => "needthat-colorling") %>.co.za <% end %> </small> </footer> -->
  </body>
</html>
